.graphic {
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#backdrop {
    background: 
        url(../graphics/home.png) no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    width: 100%;
}

.menu-container {
    
}

.content-box {
    position: absolute;
    /*background: rgba(255, 255, 255, 0.4);*/ 
    /*border: 1px solid pink;*/
    border-radius: 0%;
}

.link-box {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid black;
    border-radius: 0%;
}

.link-box a {
    color: #faffc9;
}

.home-link {
    position: absolute;
    background-color: transparent;
    /*border: 1px solid yellow;*/
    border-radius: 40%;
    top: -25%;
    left: 26.7%;
    width: 46.8%;
    height: 46%;
}

.home-link:hover {
    background: rgba(255, 255, 255, 0.1)
}

.menu-link {
    position: absolute;
    background-color: transparent; 
    /*border: 1px solid yellow;*/
    border-radius: 50%;
}

.menu-link:hover {
    background: rgba(255, 255, 255, 0.1)
}

#menu1 {
    top: 25.5%; 
    left: 22.1%; 
    width: 7.0%; 
    height: 16.4%;
}

#menu2 {
    top: 59.56%;    left: 22.1%;

    width: 7.0%;
    height: 16.6%;
}

#menu3 {
    top: 82.6%;
    left: 36.0%;
    width: 7.2%;
    height: 16.4%;
}

#menu4 {
    top: 82.6%;
    right: 36.0%;
    width: 7.2%;
    height: 16.4%;
}

#menu5 {
    top: 59.56%;
    right: 22.1%;
    width: 7.0%;
    height: 16.6%;
}

#menu6 {
    top: 25.3%; 
    right: 22.1%; 
    width: 7.0%; 
    height: 16.7%;
}

#box-bl {
    bottom: 6%;
    left: 3%;
    width: 16.4%;
    height: 33.1%;
    display: table-cell;
    text-align: center;
}

#box-br {
    bottom: 6.4%;
    right: 3%;
    width: 18.4%;
    height: 29.9%;
}

#box-ml {
    bottom: 39.3%;
    left: 3%;
    width: 16.4%;
    height: 22%;
}

#box-mr {
    top: 37.2%;
    right: 3%;
    width: 14.4%;
    height: 26%;
}

#box-tl {
    top: 6%;
    left: 3%;
    width: 18.2%;
    height: 32.2%;
}

#box-tr {
    top: 6.4%;
    right: 3%;
    width: 18.4%;
    height: 30.6%;
}

#center-main {
    /*border: 1px solid darkblue;*/
    border: none;
    background: none;
    top: 30%;
    left: 31.5%;
    width: 36.9%;
    height: 50%;
    overflow-y: scroll;
}

#link-bl {
    bottom: 0%;
    right: 64.0%;
    width: 14.85%;
    text-align: center;
    background: transparent;
    border: none;
}

#link-br {
    bottom: 0%;
    left: 63.0%;
    width: 15.8%;
    text-align: center;
    background: transparent;
    border:none;
}

#link-bm {
    bottom: 0%;
    left: 43.5%;
    width: 12.2%;
    background: transparent;
    border: none;
    text-align: center;
    
}

.footer {
    
}

.foot {
    text-align: center;
}

.hovershow {
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#box-bl:hover div {
    display: inline-block;
}

.hovershow p {
    text-align: center;
    color: black;
}

.change-show-link {
    /*background: rgba(255, 255, 255, 0.4);*/
    /*border: 1px solid pink;*/
    position: absolute;
    border-radius: 30%;
}

#next-show {
    top: 47%;
    right: 25.5%;
    height: 9.6%;
    width: 5.3%;
}

#prev-show {
    top: 47%;
    left: 25.5%;
    height: 9.6%;
    width: 5.3%;
}